pipeline/pl_jira_load_pagination_rules.json
{
	"name": "pl_jira_load_pagination_rules",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://preethiprasad15.atlassian.net//rest/agile/1.0/board/3/backlog?jql=project=SSP",
					"authentication": {
						"type": "Basic",
						"username": "preethiprasad15@gmail.com",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vTotal",
					"value": {
						"value": "@activity('Web1').output.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vPageCount",
					"value": {
						"value": "@div(\n  add(\n    sub(variables('vTotal'), 1),\n    pipeline().parameters.pMaxResults\n  ),\n  pipeline().parameters.pMaxResults\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"QueryParameters.startAt": {
								"value": "$.startAt + $.maxResults",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "src_jira_page_by_page_foreach",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": {
								"value": "@concat('/rest/agile/1.0/board/3/backlog?jql=project=SSP','&startAt={startAt}&maxResults=',string(pipeline().parameters.pMaxResults))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "tgt_jira_page_by_page_foreach",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "'paginated'",
								"type": "Expression"
							},
							"foldername": {
								"value": "@concat('jira_target/paginated/dt=',formatDateTime(utcNow(),'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStartAt",
					"value": 0
				}
			}
		],
		"parameters": {
			"pMaxResults": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"vStartAt": {
				"type": "Integer",
				"defaultValue": 0
			},
			"vTotal": {
				"type": "Integer"
			},
			"vPageCount": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-06T06:08:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}