pipeline/pl_jira_load_page_by_page_foreach.json
{
	"name": "pl_jira_load_page_by_page_foreach",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://preethiprasad15.atlassian.net//rest/agile/1.0/board/3/backlog?jql=project=SSP&updated>=\"',activity('Lookup_Watermark').output.firstRow.lastUpdated,'\"')",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "preethiprasad15@gmail.com",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vTotal",
					"value": {
						"value": "@activity('Web1').output.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vPageCount",
					"value": {
						"value": "@div(\n  add(\n    sub(variables('vTotal'), 1),\n    pipeline().parameters.pMaxResults\n  ),\n  pipeline().parameters.pMaxResults\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,variables('vPageCount'))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "src_jira_page_by_page_foreach",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "@{concat('/rest/agile/1.0/board/3/backlog?jql=project=SSP&updated>=\"',activity('Lookup_Watermark').output.firstRow.lastUpdated,'\"','&startAt=',string(mul(item(),pipeline().parameters.pMaxResults)),'&maxResults=',string(pipeline().parameters.pMaxResults))}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "tgt_jira_page_by_page_foreach",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat('page_',item(),'.json')",
											"type": "Expression"
										},
										"foldername": {
											"value": "@concat('jira_target/page_by_page_foreach/dt=',formatDateTime(utcNow(),'yyyyMMdd'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_Jira_Watermark",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vNewWatermark",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "lastUpdated",
								"value": {
									"value": "@variables('vNewWatermark')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['lastUpdated']"
								},
								"sink": {
									"path": "$['lastUpdated']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "dummy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Jira_Watermark",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"pMaxResults": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"vStartAt": {
				"type": "Integer"
			},
			"vTotal": {
				"type": "Integer"
			},
			"vPageCount": {
				"type": "Integer"
			},
			"vNewWatermark": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-19T13:08:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}